<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <div id="root">
        <input type="text" v-model="message">
        <p>The input field wants me to tell you ... {{message }}</p>
    </div>

    <div id="root2">
        <ul>
            <li v-for="name in names" v-text="name"></li>
        </ul>
    </div>
    <input id="input"  type="text">
    <button id="button">Add Name</button>

<!--<script src="vue.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script>
    let data ={
        message: 'Hey There!'
    };
    new Vue({
        el: '#root',
        data: data
    })

    var app = new Vue({
        el: '#root2',
        data:{
            names:['Joe', 'Mary', 'Jane', 'Jack', 'Jerry-Joe-Jackson']
        },
        mounted(){
            document.querySelector('#button').addEventListener('click',()=> {
                let name = document.querySelector('#input');
                app.names.push(name.value);
                name.value='';
            });
        }
    });
</script>
</body>
</html>